// ==========================================================================
// Panels
// ==========================================================================

.panel {
  @extend %panel-default;
  
  @include m(centered) {
    @extend %panel-default;
    @extend %center-align;    
  }
  
  @include m(padded) {
    @extend %panel-padding;
    
    @include m(centered) {
      @extend %center-align;
	    @extend %panel-padding;
    }




  }

  @include m(image){
    @extend %center-align;
    @extend %panel-padding;
    padding-bottom: em(14px);
    background: url("../img/goasunset.JPG") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

  }
}