// ==========================================================================
// Buttons
// ==========================================================================

.btn {
	@include bg-colors($ui-colors);
}

[class^="btn--"] {
  @extend %center-align;
  @extend %btn;
  margin-bottom: em(20px, 14px); 
  @include mq(small)  {
  	width: auto;
    display: inline-block;
    /*@include doubly(5px);*/
    /*@include doubly(5px);*/
    
    
  }
  @include mq(medium) {
    width: auto;
    display: inline-block;
    @include doubly(20px);
  }
}