
/*----------------For Grid Paragraph---------------------*/
.para {
  @extend %p;
  margin-top: em(0px);
  padding-top: em(0px);
    @include mq(small){
      margin-top:em(0px);
    }
  @include m(price){
    margin-left: em(15px);
  }
  }